{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "max-len": [1, 140, 2],
    "import/prefer-default-export": "off",
    "no-new": 0,
    "object-curly-newline": 0
  }
}